textbook/
interpreter2/
report/
test/

*/tmp.ml
*/*.cm[iox]
*/*.log
*/*.cache
*/test
*/.#*

exercise/*.zip

interpreter/.depend
interpreter/miniml
interpreter/*.o
interpreter/lexer.ml
interpreter/parser.ml
interpreter/parser.mli
interpreter/parser.output
